.title {
    color: grey;
    margin-bottom: 15px;
    text-transform: capitalize;
}

.activeBooked,
.activeCheckin,
.activeCheckout {
    display: inline-block;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
}

.activeBooked {
    background-color: #F69685;
    color: #000000;
}

.activeCheckin {
    background-color: #39d139;
    color: #000000;
}

.activeCheckout {
    background-color: #D3D0F2;
    color: #000000;
}